@model List<RoomScheduler.Web.ViewModels.ReservedTimeSlotViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/grid.css" rel="stylesheet" />
    <link href="~/css/reservations.css" rel="stylesheet" />
</head>
<body>

    @{ 
        var upcomingReservations = Model.Where(x => x.From >= DateTime.Today).ToList();
    }

    <div name="container" class="list-group-item" style="margin-bottom: 10px;">
        <div style="padding: 10px;">
            <h3>Your upcoming reservations</h3>
        </div>

        @if (upcomingReservations.Count() == 0)
        {
            <ul class="list-group">
                <li class="list-group-item" style="border-color: darkgray;">
                    <div>No upcoming reservations. Use the search to make one.</div>
                </li>
            </ul>
        }
    </div>

    <div class="wrapper">
        @{ int index = 0; }
        @foreach (var timeSlot in upcomingReservations.OrderByDescending(x => x.From.Date).ThenBy(x => x.From.TimeOfDay))
        {
            <a id="container[@index]" name="container" class="list-group-item-action grow flexContainer" style="border-color: red;"
               onmouseover="showDeleteButton(@index)" onmouseout="hideDeleteButton(@index)">
                
                <div style="padding: 10px;">
                    Room: @timeSlot.RoomName
                    <br />
                    Date: @timeSlot.From.Date.ToShortDateString()
                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>

                <img id="deleteButton[@index]" name="deleteImage" src="~/svg/x.svg" alt="Delete"
                     onclick="deleteReserveTimeSlotModal(this, @index)"
                     data-room="@timeSlot.RoomName" data-date="@timeSlot.From.ToShortDateString()"
                     data-from="@timeSlot.From.ToString(@"hh\:mm")" data-to="@timeSlot.To.ToString(@"hh\:mm")" />

                <form id="deleteTimeSlotForm[@index]" method="post" asp-controller="TimeSlot" asp-action="Delete">
                    <input type="hidden" name="timeSlotId" value="@timeSlot.Id" />               
                </form>
            </a>
            index++;
        }
    </div>

    <div id="pastReservationsContainer" data-for="pastReservations" name="container" class="list-group-item grow flexContainer"
         onclick="hideOrShowReservations(this)">

        <div style="padding: 10px;">
            <h5>Past week your reservations</h5>
        </div>

        <img name="arrow" src="~/svg/arrow-down.svg" alt="Show" />
    </div>

    @{
        var pastReservations = Model.Where(x => x.From < DateTime.Today && x.From > DateTime.Today.AddDays(-7)).ToList();
    }

    <div id="pastReservations" class="wrapper" style="display: none;">

        @if (pastReservations.Count() == 0)
        {
            <ul class="list-group">
                <li class="list-group-item" style="border-color: grey; margin-top: 10px;">
                    <div>No reservations made during the past week. Use the search to make one.</div>
                </li>
            </ul>
        }

        @foreach (var timeSlot in pastReservations.OrderByDescending(x => x.From.Date).ThenBy(x => x.From.TimeOfDay))
        {
            <a name="container" class="list-group-item-light" style="border-color: red;">
                <div style="padding: 10px;">
                    Room: @timeSlot.RoomName
                    <br />
                    Date: @timeSlot.From.Date.ToShortDateString()
                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>
            </a>
        }

    </div>

    <partial name="~/Views/TimeSlot/_DeleteTimeSlotModalPartial.cshtml" />

    <script src="~/js/deletereservation.js"></script>
    <script src="~/js/hideshowreservations.js"></script>

</body>
</html>
