@model List<RoomScheduler.Web.ViewModels.ReservedTimeSlotViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        [name="container"] {
            border: 2px solid;
            border-color: grey;
            border-radius: 20px;
        }
    </style>
</head>
<body>

    <div name="container" class="list-group-item" style="margin-bottom: 50px;">
        <div style="padding: 10px;">
            <h3>Your upcoming reservations</h3>
        </div>

        @if (Model.Where(x => x.From >= DateTime.Today).Count() == 0)
        {
            <ul class="list-group">
                <li class="list-group-item" style="border-color: grey; margin-top: 10px;">
                    <div>No upcoming reservations. Use the search to make one.</div>
                </li>
            </ul>
        }
    </div>

    <div class="wrapper">
        @{ int index = 0; }
        @foreach (var timeSlot in Model.Where(x => x.From >= DateTime.Today).OrderByDescending(x => x.From.Date).ThenBy(x => x.From.TimeOfDay))
        {
            <a id="container[@index]" name="container" class="list-group-item-action grow" style="display: flex; justify-content: space-between;" onmouseover="showDeleteButton(@index)" onmouseout="hideDeleteButton(@index)">
                <div style="padding: 10px;">
                    Room: @timeSlot.RoomName
                    <br />
                    Date: @timeSlot.From.Date.ToShortDateString()
                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>

                <img id="deleteButton[@index]" src="~/svg/x.svg" alt="Delete" style="margin-left: 50px; display: none; cursor: pointer;" onclick="deleteReserveTimeSlotModal(this, @index)"
                     data-room="@timeSlot.RoomName" data-date="@timeSlot.From.ToShortDateString()"
                     data-from="@timeSlot.From.ToString(@"hh\:mm")" data-to="@timeSlot.To.ToString(@"hh\:mm")" />

                <form id="deleteTimeSlotForm[@index]" method="post" asp-controller="TimeSlot" asp-action="Delete">
                    <input type="hidden" name="timeSlotId" value="@timeSlot.Id" />
                </form>
            </a>
            index++;
        }
    </div>

    <div id="pastReservationsContainer" data-for="pastReservations" name="container" class="list-group-item grow" style="cursor: pointer; margin-bottom: 10px; margin-top: 50px; display:flex; justify-content: space-between;" onclick="hideOrShowReservations(this)">
        <div style="padding: 10px;">
            <h5>Past week your reservations</h5>
        </div>

        <img name="arrow" src="~/svg/arrow-down.svg" alt="Show" />
    </div>

    <div id="pastReservations" class="wrapper" style="display: none;">
        @if (Model.Where(x => x.From < DateTime.Today && x.From > DateTime.Today.AddDays(-7)).Count() == 0)
        {
            <ul class="list-group">
                <li class="list-group-item" style="border-color: grey; margin-top: 10px;">
                    <div>No reservations made during the past week. Use the search to make one.</div>
                </li>
            </ul>
        }

        @foreach (var timeSlot in Model.Where(x => x.From < DateTime.Today && x.From > DateTime.Today.AddDays(-7)).OrderByDescending(x => x.From.Date).ThenBy(x => x.From.TimeOfDay))
        {
            <a name="container" class="list-group-item-light">
                <div style="padding: 10px;">
                    Room: @timeSlot.RoomName
                    <br />
                    Date: @timeSlot.From.Date.ToShortDateString()
                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>
            </a>
        }
    </div>

    <partial name="~/Views/TimeSlot/_DeleteTimeSlotModalPartial.cshtml" />

    <script>
        function deleteReserveTimeSlotModal() {
            let container = arguments[0];
            $('#room').text(container.getAttribute('data-room'));
            $('#date').text(container.getAttribute('data-date'));
            $('#from').text(container.getAttribute('data-from'));
            $('#to').text(container.getAttribute('data-to'));

            let formIndex = arguments[1];
            let formId = `deleteTimeSlotForm[${formIndex}]`;
            $('#deleteButton').attr("form", formId);

            $('#deleteTimeSlotModal').modal('show');
        }
    </script>

    <script>
        function hideOrShowReservations() {
            let container = arguments[0];
            let reservations = document.getElementById(container.getAttribute('data-for'));

            if (reservations.style.display === 'none') {
                reservations.style.display = 'grid';
                $('#' + container.id).children('img[name="arrow"]').attr("src", "/svg/arrow-up.svg");
            }
            else {
                reservations.style.display = 'none';
                $('#' + container.id).children('img[name="arrow"]').attr("src", "/svg/arrow-down.svg");
            }
        }
    </script>

    <script>
        function showDeleteButton() {
            index = arguments[0];
            document.getElementById(`deleteButton[${index}]`).style.display = 'inline';
        }

        function hideDeleteButton() {
            index = arguments[0];
            document.getElementById(`deleteButton[${index}]`).style.display = 'none';
        }
    </script>

</body>
</html>