@model List<RoomScheduler.Web.ViewModels.RoomAllViewModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/grid.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />
</head>
<body>

    <div id="searchContainer" name="container" style="margin-bottom: 10px;">
        <h3 id="banner">Find the best room for your meeting!</h3>

        <partial name="_FormFilterPartial.cshtml" model="new RoomScheduler.Web.InputModels.FormFilterInputModel()" />
    </div>

    <div name="container" class="list-group-item" style="margin-top: 50px; margin-bottom: 10px;">
        <div style="padding: 10px;">
            <h5>All available rooms</h5>
        </div>

        @if (Model.Count == 0)
        {
            <ul class="list-group">
                <li class="list-group-item" style="border-color: darkgray;">
                    <div>No available rooms!</div>
                </li>
            </ul>
        }
    </div>

    <div class="wrapper">
        @foreach (var room in Model)
        {
            <a name="container" href="@Url.Action("Current", "Room", new { roomGuid = room.Guid, optionalDuration = new TimeSpan(1, 0, 0) } )"
               class="list-group-item-action grow" style="border-color: green;">

                <div style="padding: 10px;">
                    Name: @room.Name
                    <br />
                    Capacity: @room.Capacity
                    <br />
                    Availability: @room.AvailableFrom.ToString(@"hh\:mm") - @room.AvailableTo.ToString(@"hh\:mm")
                </div>

            </a>
        }
    </div>

    @section Scripts{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }

</body>
</html>