@model RoomScheduler.Web.ViewModels.AvailableRoomViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/grid.css" rel="stylesheet" />
</head>
<body>

    <div name="container" class="list-group-item" style="margin-bottom: 10px;">
        <div style="padding: 10px;">
            <h3>All available time slots</h3>
            <div>
                Room: @Model.Name &ensp; Date: @Model.Date.ToShortDateString() &ensp;
                Duration: @Model.Duration.ToString(@"hh\:mm") &ensp;
                Participants: @Model.Participants
            </div>
        </div>
    </div>

    <div class="wrapper">
        @{ int index = 0; }
        @foreach (var time in Model.AvailableSchedule)
        {
            <a name="container" class="list-group-item-action grow" style="border-color: green; cursor: pointer;"
               onclick="loadReserveTimeSlotModal(this, @index)"
               data-room="@Model.Name" data-date="@Model.Date.ToShortDateString()"
               data-from="@time.From.ToString(@"hh\:mm")" data-to="@time.To.ToString(@"hh\:mm")">

                <div style="padding: 10px;">
                    From: @time.From.ToString(@"hh\:mm")
                    <br />
                    To: @time.To.ToString(@"hh\:mm")
                </div>
            </a>

            <form id="reserveTimeSlotForm[@index]" method="post" asp-controller="TimeSlot" asp-action="Reserve" style="display: none;">
                <input type="hidden" name="date" value="@Model.Date" />
                <input type="hidden" name="from" value="@time.From" />
                <input type="hidden" name="to" value="@time.To" />
                <input type="hidden" name="roomId" value="@Model.Id" />
            </form>
            index++;
        }
    </div>

    <partial name="~/Views/TimeSlot/_ReserveTimeSlotModalPartial.cshtml" />

    <script src="~/js/loadreservationmodal.js"></script>

</body>
</html>