@model RoomScheduler.Web.ViewModels.RoomCurrentViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

        [name="container"] {
            border: 2px solid;
            border-color: grey;
            border-radius: 20px;
        }

        [id="selectedHours[@Model.SelectedOptionalHours]"] {
            background-color: lightgrey;
        }

            [id="selectedHours[@Model.SelectedOptionalHours]"]:hover {
                background-color: lightgrey;
            }

            @@media (max-width: 580px){
                #hourOptions{
                    display: flex;
                    flex-wrap: wrap;
                }

                #hourOptions li {
                    margin: 1px;
                    display: inline-block;
                }
            }
    </style>
</head>
<body>

    <div name="container" class="list-group-item" style="margin-bottom: 50px;">
        <div style="padding: 10px;">
            <h3>@Model.Name</h3>
        </div>
    </div>

    <div name="container" class="list-group-item" style="margin-bottom: 10px;">
        <div style="padding: 10px;">
            <h5 style="padding-bottom: 5px;">Optional time slots for today</h5>

            <ul id="hourOptions" class="list-group list-group-horizontal">
                @for (int i = 1; i < 7; i++)
                {
                    <li id="selectedHours[@i]" class="list-group-item list-group-item-action" style="border-color: grey; cursor: pointer;"
                        onclick="location.href = '@Url.Action("Current", "Room", new { roomGuid = Model.Guid, optionalDuration = new TimeSpan(i, 0, 0)})'">
                        @if (i == 1)
                        {
                            <a onselectstart="return false" style="cursor: pointer;">
                                @i hour
                            </a>
                        }
                        else
                        {
                            <div onselectstart="return false" style="cursor: pointer">
                                @i hours
                            </div>
                        }
                    </li>
                }
            </ul>

            @if (Model.AvailableOptionalSchedule.Count == 0)
            {
                <ul class="list-group">
                    <li class="list-group-item" style="border-color: grey; margin-top: 10px;">
                        <div>No optional time slots. Use the search for specific results.</div>
                    </li>
                </ul>

            }
        </div>
    </div>

    <div class="wrapper">
        @{ int index = 0; }
        @foreach (var time in Model.AvailableOptionalSchedule)
        {
            <a name="container" class="list-group-item-action grow" style="border-color: green; cursor: pointer;" onclick="loadReserveTimeSlotModal(this, @index)"
               data-room="@Model.Name" data-date="@DateTime.Today.ToShortDateString()"
               data-from="@time.From.ToString(@"hh\:mm")" data-to="@time.To.ToString(@"hh\:mm")">

                <div style="padding: 10px;">
                    From: @time.From.ToString(@"hh\:mm")
                    <br />
                    To: @time.To.ToString(@"hh\:mm")
                </div>
            </a>

            <form id="reserveTimeSlotForm[@index]" method="post" asp-controller="TimeSlot" asp-action="Reserve" style="display: none;">
                <input type="hidden" name="date" value="@DateTime.Today" />
                <input type="hidden" name="from" value="@time.From" />
                <input type="hidden" name="to" value="@time.To" />
                <input type="hidden" name="roomId" value="@Model.Id" />
            </form>
            index++;
        }
    </div>

    <div id="upcomingReservationsContainer" data-for="upcomingReservations" name="container" class="list-group-item grow" style="margin-bottom: 10px; margin-top: 50px; display: flex; justify-content: space-between;" onclick="hideOrShowReservations(this)">
        <div style="padding: 10px;">
            <h5>Upcoming reservations</h5>
        </div>

        <img id="hello" name="arrow" src="~/svg/arrow-down.svg" alt="Show" />
    </div>

    <div id="upcomingReservations" class="wrapper" style="display: none;">
        @foreach (var timeSlot in Model.Schedule.Where(x => x.From >= DateTime.Today).OrderByDescending(x => x.From))
        {
            <a name="container" class="list-group-item-light" style="border-color: red">
                <div style="padding: 10px;">
                    Date: @timeSlot.From.Date.ToShortDateString()

                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>
            </a>
        }
    </div>

    <div id="pastReservationsContainer" data-for="pastReservations" name="container" class="list-group-item grow" style="margin-bottom: 10px; margin-top: 30px; display:flex; justify-content: space-between;" onclick="hideOrShowReservations(this)">
        <div style="padding: 10px;">
            <h5>Past week reservations</h5>
        </div>

        <img id="bye" name="arrow" src="~/svg/arrow-down.svg" alt="Show" />
    </div>

    <div id="pastReservations" class="wrapper" style="display: none;">
        @foreach (var timeSlot in Model.Schedule.Where(x => x.From < DateTime.Today && x.From > DateTime.Today.AddDays(-7)).OrderByDescending(x => x.From))
        {
            <a name="container" class="list-group-item-light" style="border-color: red">
                <div style="padding: 10px;">
                    Date: @timeSlot.From.Date.ToShortDateString()

                    <br />
                    From: @timeSlot.From.ToShortTimeString() To: @timeSlot.To.ToShortTimeString()
                </div>
            </a>
        }
    </div>

    <partial name="~/Views/TimeSlot/_ReserveTimeSlotModalPartial.cshtml" />

    <script>
        function loadReserveTimeSlotModal() {
            let container = arguments[0];
            $('#room').text(container.getAttribute('data-room'));
            $('#date').text(container.getAttribute('data-date'));
            $('#from').text(container.getAttribute('data-from'));
            $('#to').text(container.getAttribute('data-to'));

            let formIndex = arguments[1];
            let formId = `reserveTimeSlotForm[${formIndex}]`;
            $('#reserveButton').attr("form", formId);

            $('#currentAvailableTimeModal').modal('show');
        }
    </script>

    <script>
        function hideOrShowReservations() {
            let container = arguments[0];            
            let reservations = document.getElementById(container.getAttribute('data-for'));

            if (reservations.style.display === 'none') {
                reservations.style.display = 'grid';
                $('#' + container.id).children('img[name="arrow"]').attr("src", "/svg/arrow-up.svg");
            }
            else {
                reservations.style.display = 'none';
                $('#' + container.id).children('img[name="arrow"]').attr("src", "/svg/arrow-down.svg");
            }
        }
    </script>

</body>
</html>