@model RoomScheduler.Web.ViewModels.FilterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        [name="container"] {
            border: 2px solid;
            border-color: grey;
            border-radius: 20px;
        }
    </style>
</head>
<body>

    @if (Model.Rooms.Count == 0)
    {
        <div name="container" class="list-group-item" style="margin-bottom: 10px;">
            <div style="padding: 10px;">
                <h5>No available rooms!</h5>
            </div>
        </div>
    }
    else
    {
        <div name="container" class="list-group-item" style="margin-bottom: 50px;">
            <div style="padding: 10px;">
                <h5>All available rooms on @Model.Date.ToShortDateString() for @Model.Duration.ToString(@"hh\:mm") hours and @Model.Participants people:</h5>
            </div>
        </div>

        <div class="wrapper">
            @foreach (var room in Model.Rooms)
            {
                <a name="container" href="@Url.Action("Available", "Room", new { roomGuid = room.Guid, duration = Model.Duration, date = Model.Date } )" class="list-group-item-action">
                    <div style="padding: 10px;">
                        Name: @room.Name
                        <br />
                        Capacity: @room.Capacity
                    </div>
                </a>
            }
        </div>
    }

</body>
</html>