@model RoomScheduler.Web.ViewModels.FilterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/grid.css" rel="stylesheet" />

    <style>
        .wrapper {
            grid-template-columns: repeat(6, 1fr) !important;
        }
    </style>
</head>
<body>

    @if (Model.Rooms.Count == 0)
    {
        <div name="container" class="list-group-item" style="margin-bottom: 10px;">
            <div style="padding: 10px;">
                <h5>No available rooms!</h5>
            </div>
        </div>
    }
    else
    {
        <div name="container" class="list-group-item" style="margin-bottom: 50px;">
            <div style="padding: 10px;">
                <h3>All available rooms</h3>
                <div>
                    Date: @Model.Date.ToShortDateString() &ensp;
                    Duration: @Model.Duration.ToString(@"hh\:mm") &ensp;
                    Participants: @Model.Participants
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item" style="border-color: darkgray;">
                    <strong>Displayed time slots are optional. Click room for more specific results.</strong>
                </li>
            </ul>
        </div>

        @foreach (var room in Model.Rooms.OrderBy(x => x.Capacity))
        {
            <div name="container" onclick="location.href='@Url.Action("Available", "Room", new { roomGuid = room.Guid, duration = Model.Duration, date = Model.Date, participants = Model.Participants } )'"
                 class="list-group-item grow" style="margin-bottom: 20px; margin-top: 50px; cursor: pointer;">
                <div>
                    Name: @room.Name
                    <br />
                    Capacity: @room.Capacity
                    <br />
                    Availability: @room.AvailableFrom.ToString(@"hh\:mm") - @room.AvailableTo.ToString(@"hh\:mm")
                </div>
            </div>

            <div class="wrapper">
                @{ int index = 0; }
                @foreach (var time in room.AvailableSchedule)
                {
                    <a name="container" style="border-color: green; cursor: pointer;" class="list-group-item-action grow"
                       onclick="loadReserveTimeSlotModal(this, @index)"
                       data-room="@room.Name" data-date="@Model.Date.ToShortDateString()"
                       data-from="@time.From.ToString(@"hh\:mm")" data-to="@time.To.ToString(@"hh\:mm")">

                        <div style="padding: 10px;">
                            From: @time.From.ToString(@"hh\:mm")
                            <br />
                            To: @time.To.ToString(@"hh\:mm")
                        </div>
                    </a>

                    <form id="reserveTimeSlotForm[@index]" method="post" asp-controller="TimeSlot" asp-action="Reserve" style="display: none;">
                        <input type="hidden" name="date" value="@Model.Date" />
                        <input type="hidden" name="from" value="@time.From" />
                        <input type="hidden" name="to" value="@time.To" />
                        <input type="hidden" name="roomId" value="@room.Id" />
                    </form>
                    index++;
                }
            </div>
        }
    }

    <partial name="~/Views/TimeSlot/_ReserveTimeSlotModalPartial.cshtml" />

    <script src="~/js/loadreservationmodal.js"></script>

</body>
</html>